:root {
    --grey: #959595;
    --softgrey: #e8e8e8;
    --offpink: #cebeb9;
    --handwriting: 'Montserrat', sans-serif;
    }
*{
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  position: relative;
  font-family: var(--handwriting);
}

.wrapper .sidebar{
  width: 200px;
  height: 100%;
  background: var(--grey);
  padding: 30px 0px;
  position: fixed;
  text-align: center;
}

.wrapper .sidebar h2{
  color: var(--softgrey);
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapper .sidebar ul li a{
  color: var(--softgrey);
  display: block;
}

.wrapper .sidebar ul li:hover{
  background-color: var(--offpink);
}
 
.social_media{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .social_media a{
  display: block;
  width: 40px;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 10px 5px;
  color: var(--grey);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.wrapper .main_content{
  width: 100%;
  margin-left: 200px;
}

/* Container holding the image and the text */
.hero {
    position: relative;
    text-align: center;
    color: var(--softgrey);
  }

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 35px;
    right: 35px;
    font-size: 18px;
    text-align: right;
  }

.header {
    background-color: var(--offpink);
    background-size: cover;
    height: 80px;
    font-size: 48px;
    color: var(--softgrey);
    padding-left: 30px;
    padding-top: 10px;
}

.card {
    background-color: var(--softgrey);
    padding: 10px;
    margin: 10px;
}

.img-card {
    margin: 1rem auto;
    position: relative; 
    opacity: .7;
  }
  
 .img-card:hover{
     opacity: 1.0;
 } 
.img-card-body {
    z-index: 2;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
    color: var(--grey);
    background-color: var(--softgrey);
    text-align: center;
}

.social_contact {
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }

